<header class="container-fluid">
  <i class="fa fa-bars" id="bars" onclick="toggleSidebar()"></i>
  <h2 class="text-center">Business Analytics</h2>
  <i class="fa fa-pencil-square" data-toggle="tooltip" title="Add New Transaction" data-placement="bottom"
   onclick="window.location.href='/new-transaction'"></i>
</header>