
<div id="sidebar">
  <ul>
    <li class="selected"><a href="/">Home</a></li>
    <li class=""><a href="/new-transaction">New Transaction</a></li>
    <li class=""><a href="/dashboard">Analytics</a></li>
    <!--<li class=""><a href="#">Contacts</a></li>-->
  </ul>
</div>